.ug-btn1 {
  position: absolute;
  color: white;
  right: 4%;
  top: 0;
  
  font-family: YanoneKaffeesatz-Regular;

  height: 100px;
  width: 240px;
  display: flex;
  align-items: center;
  //   background-color: antiquewhite;
  .ug-btn1-normal{
    height: 50px;
    width: 30%;
    box-shadow:inset 0px 0px 30px #242424, 0px 0px 50px #363636;
    background-color: #454444;
    border-radius: 15px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        opacity: 0.5;
        height: 30px;
        width: 30px;
    }

  }
  .ug-btn1-1 {
    box-shadow:inset 0px 0px 30px #242424, 0px 0px 50px #363636;
    // box-shadow: 0px 0px 10px #ffffff;
    background-color: #454444;
    border-radius: 15px 0px 0px 15px;
    height: 50px;
    width: 40%;
    margin-right: 2.5px;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .ug-btn1-1-name {
      font-size: large;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .ug-btn1-2 {
    box-shadow:inset 0px 0px 30px #242424, 0px 0px 50px #363636;
    box-shadow: 20px green;
    margin-left: 2.5px;
    border-radius: 0px 15px 15px 0px;
    position: relative;
    background-color: #454444;
    height: 50px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    .ug-btn1-2-name {
      font-size: large;
      color: rgba(255, 255, 255, 0.5);
      //   top: 30%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);
    }
  }
}
