@import '../../scss/variables.scss';

#ug-nav-bar{
    position: relative;
    display: inline-block;
    height: 100%;
    display: flex;
    width: fit-content;
    left: 4%;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    .ug-nav-element{
        margin: 20px;
        .ug-nav-element-icon{
            font-family: AlteSchwabacher;
            font-size: 40px; 
        }
        .ug-nav-element-sub{
            font-size: 20px;
            font-family: YanoneKaffeesatz-Bold;
            font-weight: regular;
        }
        .ug-nav-element-selected_true{
            color: $ug-nav-element-selected_true;
        }
        .ug-nav-element-selected_false{
            color: $ug-nav-element-selected_false;
            transition: color 1s;
        }
        .ug-nav-link{
            cursor: none;
            text-decoration: none;
        }
    }
    .ug-nav-element-selected_false:hover{
        color: white
    }
}




