@import '../../scss/variables.scss';

// .ug-nav-element-sub{
//     color: white;
// }
@font-face{
    font-family: AlteSchwabacher;
    src:url('../../fonts/AlteSchwabacher.ttf');
}

@font-face{
    font-family: YanoneKaffesatz;
    src:url('../../fonts/YanoneKaffeesatz-Medium.ttf');
    font-weight: medium;
}

@font-face{
    font-family: YanoneKaffesatz-regular;
    src:url('../../fonts/YanoneKaffeesatz-Regular.ttf');
    font-weight: regular;
}

@font-face{
    font-family: YanoneKaffesatz-light;
    src:url('../../fonts/YanoneKaffeesatz-Light.ttf');
    font-weight: light;
}

#ug-nav-bar{
    background-color: rgba(255, 255, 255, 0.514);
    position: absolute;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.ug-nav-element{
    
    margin: 20px;
    span{
        color: white;
    }
    .ug-nav-element-icon{
        font-family: AlteSchwabacher;
        font-size: 40px; 
    }
    .ug-nav-element-sub{
        font-size: 20px;
        font-family: YanoneKaffesatz;
        font-weight: regular;
    }
    .ug-nav-element-selected_true{
        color: $ug-nav-element-selected_true;
    }
    .ug-nav-element-selected_false{
        color: $ug-nav-element-selected_false;
    }
    .ug-nav-link{
        text-decoration: none;
    }
}

// //the nav bar itself
// #ug-nav-bar{
//     margin: 30px;
//     padding: 20px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 20px;
// }

// #ug-nav-element{
//     color: white;
//     width: 29px;
// }





