.ug-projects{
    position: absolute;
    display: inline-block;
    height: 200px;
    width: 100%;
    bottom: 0;
}

.ug-loading{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.ug-project-box{
    top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);

    display: flex;
    position: fixed;
    
    height: 100%;
    
    align-items: center;

    justify-content: center;

    flex-direction: row;
    transform: translateY(-50%);
    color: white;
    background-color: beige;
}