.ug-projects{
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: blue;
    // bottom: 0;
}

.ug-loading{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

// .ug-project-box{
//     top: 50%;
//     display: flex;
//     position: fixed;
    
//     height: 100%;
    
//     align-items: center;

//     justify-content: center;

//     flex-direction: row;
//     transform: translateY(-50%);
//     color: white;
//     background-color: beige;
// }

.ug-project-diashow{
    position: relative;
    width: 90vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: purple;
    // overflow: hidden;
}