.ug-projects {
  position: absolute;
  
  height: 100%;
  width: 100%;
}

.ug-loading {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.ug-project-diashow {
  position: absolute;
  width: 800px;
  height: 80vh;
  top: calc(100px );
  left: 50%;
  transform: translateX(-50%);
}




// --- NAVIGATOR ---

.ug-project-navigator {
  height: fit-content;
  width: fit-content;
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.ug-project-navigator-dot-active{
  background-color: white;
  height: 10px;
  width: 10px;
  margin: 12px;
  display: block;
  border-radius: 100%;
  cursor: pointer;
}

.ug-project-navigator-dot{
  background-color: rgba(255, 255, 255, 0.137);
  height: 10px;
  width: 10px;
  margin: 12px;
  display: block;
  border-radius: 100%;
  cursor: pointer;
}

@media only screen and (max-width: 600px){
  .ug-projects{
    width: 600px;
  }
}

@media only screen and (min-width: 1400px){
  .ug-project-diashow {
    position: absolute;
    width: 80%;
    height: 80vh;
    top: calc(100px);
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (min-width: 1800px){
  .ug-project-diashow {
    position: absolute;
    width: 1400px;
    height: fit-content;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (min-height: 1000px ){
  .ug-project-diashow{
    top: calc(100px + 10%);
  }
  
}

@media only screen and (max-width: 800px){
  .ug-projects{
    width: 800px;
  }
  .ug-project-diashow {
    width: 80%;
  }
}