@import "./../../scss/variables.scss";

@font-face{
  font-family: 'YanoneKaffeesatz-Medium';
  font-weight: regular;
  src:url("./../../assets/fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Medium.ttf");
}

@font-face{
  font-family: 'ZCOOL_QingKe_HuangYou';
  font-weight: regular;
  src:url("./../../assets/fonts/ZCOOL_QingKe_HuangYou/ZCOOLQingKeHuangYou-Regular.ttf");
}

.ug-foyer {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .ug-foyer-intro {
    height: 100vh;
    // background-color: aqua;
    width: 100%;
    z-index: 0;

    position: relative;

    .ug-foyer-intro-about {
      color: rgba(255, 255, 255, 0.5);
      font-family:ZCOOL_QingKe_HuangYou;
      font-size: 40px;
      position: relative;
      display: inline-block;
      left: 50%;
      transform: translateX(-50%);
      top: calc(100% - 100px);
      transition: font-size 1s, color 1s;
      &:hover {
        font-size: 60px;
        color: rgba(255, 255, 255, 1);
      }
    }

    #ug-foyer-box {
      color: white;
      padding: 20px;
      font-size: 10%;
      display: inline-block;
      @include center();
      position: absolute;
      pointer-events: none;
      .fullLogo{
        // @include center();
        width: 60vw;
        height: 30vh;
        
      }

      .ug-foyer-text {
        font-family: ZCOOL_QingKe_HuangYou;
        color: rgba(255, 255, 255, 0.726);
        position: relative;
        width: fit-content;
        text-align: center;
        font-size: 5vh;
        margin: 0 auto;
      }
    }
  }
}
