.ug-foyer {
  // background: rgb(177, 177, 177);
  // background: radial-gradient(
  //   circle,
  //   rgba(177, 177, 177, 0.144) 40%,
  //   rgba(0, 0, 0, 1) 100%
  // );
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: grey;
}

.ug-foyer-shadow {
  width: 200px;
  height: 200px;
  background-color: rgb(27, 27, 27);
  position: fixed;
  height: 80%;
  width: 30%;
  filter: blur(2px);
  // z-index: 0;
}

.ug-foyer-intro {
  // background-color: blue;
  height: 100vh;
  width: 100%;
  // bac
  // background: radial-gradient(
  //   circle,
  //   rgba(177, 177, 177, 0.144) 40%,
  //   rgba(0, 0, 0, 1) 100%
  // );
  // position: absolute;
  // height: 100%;
  // width: 100%;
  // position: relative;
  // background-color: antiquewhite;
  // height: 100%;
  // width: 100%;
  // position: absolute;
  // left: 50%;
  // top:50%;
  // transform: translate(-50%,-50%);
  // background-color: aqua;
  z-index: 0;
  // background-color: aqua;
  .ug-foyer-intro-content {
    color: rgba(255, 255, 255, 0.479);
    font-family: YanoneKaffeesatz-Regular;
    font-size: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 200px);
    transform: rotate(-90deg);
    // background-color: blue;
    display: inline-block;
    transition: font-size 1s, color 1s;
    
    
  }

  .ug-foyer-intro-about {
    color: rgba(255, 255, 255, 0.5);
  
    font-family: YanoneKaffeesatz-Regular;
    font-size: 40px;

    position: relative;

    display: inline-block;

    top: calc(100% - 100px);

    left: 50%;
    transform: translateX(-50%);

    transition: font-size 1s, color 1s;
    
  }

  .ug-foyer-intro-about:hover{
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
  }

  .ug-foyer-intro-content:hover{
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
  }

  #ug-foyer-box {
    // background-color: green;
    color: white;
    font-family: AlteSchwabacher;
    font-size: 280px;
    // background-color: green;
    height: calc(40vh);
    width: 90vw;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    position: relative;
    pointer-events: none;
    // background-color: green;
  } 
  .ug-foyer-name {
    position: relative;
    color: white;
    font-family: AlteSchwabacher;
    // position: ;
    font-size: 80%;
    width: fit-content;
    margin: 0 auto 0 auto;
  }
  .ug-foyer-text {
    position: relative;
    width: fit-content;
    color: rgba(255, 255, 255, 0.534);
    font-family: YanoneKaffeesatz-Light;
    // position: absolute;
    font-size: 5vh;
    margin: 0 auto 0 auto;
    // top:60%;
    // transform: translateX(50%);
  }
}

.ug-foyer-about {
  height: 50vw;
  width: 95%;
  // width: 200px;
  // border: 2px solid rgba(116, 116, 116, 0.082);
  // margin-left: 60px;
  // margin-right: 60px;
  background-color: rgba(134, 134, 134, 0.151);
  // background: radial-gradient(
  //   circle,
  //   rgba(177, 177, 177, 0.295) 40%,
  //   rgba(194, 194, 194, 0.151) 100%
  // );
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  .ug-foyer-about-heading {
    height: 100%;
    width: 50%;
    // background-color: green;

    font-size: 100px;
    // margin: 400px;
    font-family: AlteSchwabacher;
    display: block;
    // padding: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    // span{
    //   background-color: blue;
    //   // top: 10px;
    // }
  }
  .ug-foyer-about-divider {
    background-color: rgba(255, 255, 255, 0.5);

    width: 1px;
    height: 500px;
  }
  .ug-foyer-about-description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 50%;
    // background-color: green;
    font-size: 20px;
    font-family: YanoneKaffeesatz-Regular;
  }
}

@media screen and (max-height: 700px) {
  .ug-foyer-name {
    color: gray;
    // position: fixed;
  }
  // #ug-foyer-box {
  //   transition-timing-function: ease-in-out;
  //   animation-name: ug-foyer-box-fade;
  //   animation-duration: 3s;
  //   animation-iteration-count: unset;
  //   //   transform: translate(-50%, 200px);
  // }
}

@keyframes ug-foyer-box-fade {
  from {
    top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }
  to {
    top: 350px;
    // left: 50%;
    // position: fixed;
  }
}

.hello {
  color: green;
  height: 200px;
  width: 200px;
  position: absolute;
  right: 0;
}
