.ug-test{
    height: 100%;
    width: 100%;
    position: absolute;
}

.ug-cursor{
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: rgba(150, 150, 150, 0.329);
    border-radius: 50%;
    z-index: 4;
    transform: translate(-50%,-50%);
    pointer-events: none;
    box-shadow: 0px 0px 10px rgba(180, 179, 179, 0.329);
}

