//navbar
$ug-nav-element-selected_true: #ffffff;
$ug-nav-element-selected_false: rgba(255, 255, 255, 0.5);

$ug-background: #000000;
$ug-corner: 15px;



@mixin center(){
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

// @font-face{
//     font-family: 'YanoneKaffeesatz-Bold';
//     font-style: medium;
//     font-weight: medium;
//     src:url("./../../App/assets/fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Medium.ttf");
// }

// $ug-yanonekaffesatz: YanoneKaffesatz;
// $ug-yanonekaffesatz-light: YanoneKaffesatz-light;
// $ug-yanonekaffesatz-regular: YanoneKaffesatz-regular;
// $ug-alte_schwabacher: AlteSchwabacher;

// @font-face{
//     font-family: AlteSchwabacher;
//     src:url('../fonts/AlteSchwabacher.ttf');
// }

// @font-face{
//     font-family: YanoneKaffesatz;
//     src:url('../fonts/YanoneKaffeesatz-Medium.ttf');
//     font-weight: medium;
// }

// @font-face{
//     font-family: YanoneKaffesatz-regular;
//     src:url('../fonts/YanoneKaffeesatz-Regular.ttf');
//     font-weight: regular;
// }

// @font-face{
//     font-family: YanoneKaffesatz-light;
//     src:url('../fonts/YanoneKaffeesatz-Light.ttf');
//     font-weight: light;
// }
