@font-face {
  font-family: "ZCOOL_QingKe_HuangYou";
  font-weight: regular;
  src: url("./../../../assets/fonts/ZCOOL_QingKe_HuangYou/ZCOOLQingKeHuangYou-Regular.ttf");
}

.Blog {
  height: 100%;
  width: 100%;
  // position: relative;
  background-color: black;
  .Blog-Divider{
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    }

  .Blog-Content {
    margin: 20px;
    position: relative;
    width: 90%;
    height: 300px;
    // top:5%;
    // background-color: blue;
    left: 50%;
    transform: translateX(-50%);
    // font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-family: ZCOOL_QingKe_HuangYou;
    color: white;
    .Blog-Content-Heading {
      font-size: xx-large;
    }
    // margin: 0 20%;
    @media only screen and (min-width: 1000px) {
        // margin: 30px 20%;
        // background-color: red;
        
        max-width: 800px;
    }
    // @media only screen and (min-width: 600px) and (max-width: 700px) {
    //     // margin: 30px 20%;
    //     background-color: blue;
    //     max-width: 50%;
    // }
    .Blog-Content-Text {
      font-size: large;
      margin: 20px;
      
    }
  }
  .Blog-Nav {
    background-color: black;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    // position: fixed;
    // left: 0px;
    // top: 5%;
    position: relative;
    height: fit-content;
    width: 90%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%);
    .Blog-Nav-FullLogo {
      // fill: none;
      // stroke-width: 3;
      // stroke: #491EC4;
      // background-color: blue;
      margin-right: 40px;
      margin-top: 10px;
    //   border: 2px solid red;
      text-shadow: 0px 0px 20px #000000;
    }
    .Blog-Nav-Back {
    //   border: 2px solid white;
        
      margin-left: 30px;
      padding: 10px 15px;
      border-radius: 15px;
      // &:hover{
      //   text-decoration: underline;
      // }
    }
    
    a {
      color: white;
      text-shadow: 0px 0px 4px #000000;
      font-family: ZCOOL_QingKe_HuangYou;
    }
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  }
}
