.ug-project{
    position: relative;
    height: 80%;
    width: 90%;
    background-color: rgba(87, 87, 87, 0.521);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}