
.ug-project{
    position: absolute;
    display: inline-block;
    height:100%;
    width: 100%;
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid white;
    color: white;
    box-sizing: border-box;
    padding: 30px;
}