.ug-project {
  position: absolute;
  display: inline-block;
  font-family: ZCOOL_QingKe_HuangYou;
  height: 500px;
  top: 0;
  width: 100%;
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid white;
  color: white;
  box-sizing: border-box;
  padding: 30px;
  margin-bottom: 30px;
}

.ug-project-title {
  font-size: 5em;
}

.ug-project-description {
  margin: 20px;
}

.ug-trailer {
  
  position: relative;
  font-family: ZCOOL_QingKe_HuangYou;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid transparent;
  color: white;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  .ug-project-title {
    font-size: 2em;
    margin: 20px;
  }
  .ug-project-you {
    font-size: 1.1em;
    margin: 20px;
  }

  .ug-project-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    .ug-project-contact-border {
      white-space: nowrap;
      text-decoration: none;
      color: white;
      border-radius: 4px;
      border: 2px solid white;
      width: 40px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .ug-project-contact-first {
        margin: 0px 10px;
    }
  }
}

@media only screen and (max-height: 500px){
  .ug-trailer{
    height: 400px;
  }
}

.parts{
 display: flex; 
  justify-content: center;
  align-content: space-between;
}

.text{
  width: 50%;
}

.image{
  position: relative;
  // background-color: turquoise;
  height: 100%;
  width: 50%;
  .image-class{
    position: relative;
    width : desired_width;
    height: 50vh;/*to preserve the aspect ratio of the image*/
  
    left: 50%;
    transform: translateX(-50%);
    
  }
}

