@font-face{
  font-family: 'ZCOOL_QingKe_HuangYou';
  font-weight: regular;
  src:url("./../../assets/fonts/ZCOOL_QingKe_HuangYou/ZCOOLQingKeHuangYou-Regular.ttf");
}

.ug-login {
  color: white;
  height: 100%;
  width: 100%;
  position: absolute;
}

.ug-login-box{
    border-radius: 15px;
    border: 2px solid white;
    height: 400px;
    width: 340px;
    position: relative;
    .ug-login-name {
      position: relative;
      font-family: 'ZCOOL_QingKe_HuangYou';
      font-size: 30px;
      width: 100%;
      text-align: center;
      padding-top: 60px;
      height: 100px;
    }
}

.ug-login-form{
    color: white;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
}

.ug-login-form-input{
  position: relative;
  font-family: 'ZCOOL_QingKe_HuangYou';
  background-color: transparent;
  border: 2px solid white;
  text-decoration: none;
  color: white;
  padding: 0px 20px;
  font-size: 20px;
  border-radius: 15px;
  height: 50px;
  width: 300px;
  box-sizing: border-box;
  margin: 5px auto;
  // cursor: none;
  outline: none;
}


.ug-login-form-submit{
  position: relative;
  transition: background-color 2s, color 2s;

  &:hover {
    background-color: white;
    color: black;
  }
  font-family: 'ZCOOL_QingKe_HuangYou';
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  padding: 0px 20px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 15px;
  height: 50px;
  width: 300px;
  text-align: center;
  margin: 5px auto;
  margin-top: 40px;
  // cursor: none;
  outline: none;
}

.ug-contact-mailStatus-box-success{
  font-family: 'ZCOOL_QingKe_HuangYou';
  font-size: 20px;
  width: 60%;
  text-align: center;
  position: relative;
  border-radius: 10px;
  line-height: 30px;
  .ug-contact-mailStatus-box-success-contact{
    margin: 2px;
    
    button{
      height: 10px;
    }
    border: 2px solid white;
    border-radius: 10px;
    // background-color: white;
    a{
      text-decoration: none ; 
      color: white;
      font-family: 'ZCOOL_QingKe_HuangYou';
      font-size: 15px;
    }
    
    // padding: 2px;
    color: white;
  }
  .ug-contact-mailStatus-box-success-contact:visited{
    // margin: 5px;
    // border: 2px solid white;
    // border-radius: 10px;
    // padding: 3px;
    // // background-color: white;
    // text-decoration: none;
    // // padding: 2px;
    color: white;
  }
  .ug-conteact-mailStauts-box-success-contact:hover{
    background-color: white;
    color: black;
  }
}

.ug-contact-mailStatus-box-error{
  font-family: 'ZCOOL_QingKe_HuangYou';
  max-width: 200px;
  text-align: center;
}

.ug-contact-mailStatus-box-button{
  font-size: 15px;
  margin: 5px;
  a{
    text-decoration: none;
  }
  color: white;
  font-family: 'ZCOOL_QingKe_HuangYou';
  ::hover{
    background-color: white;
    color: black;
  }
}

.ug-contact-mailStatus-box-success-contact{
  font-family: 'ZCOOL_QingKe_HuangYou';
  margin: 5px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 3px;
  text-decoration: none !important; 
  font-size: 15px;
  color: white;
  ::hover{
    background-color: white;
  }
}

.ug-contact-mailStatus-box-buttons{
  display: flex;
  font-family: 'ZCOOL_QingKe_HuangYou';
  width: 80%;
  position: relative;
  color: white;
  ::hover{
    background-color: white;
  }
}

a{
  text-decoration: none;
  color: white;
}

// @media only screen and (max-height: 600px) {
//   .ug-login{
//     top: 300px;
//     left: 50%;
//     transform: translate(-50%,-50%);
//   }
// }

.ug-login-logo{
  // left: 50%;
  position: relative;
  // margin: 0 auto;
  left: 50%;
  // background-color: red;
  margin: 0 0 50px 0;
  width: fit-content;
  transform: translateX(-50%);
}


.ug-login-elements{
  width: fit-content;
  height: fit-content;
  left: 50%;
  top: 50%;
  position: relative;
  transform: translate(-50%,-50%);
  // background-color: blue;
}