@font-face{
  font-family: 'ZCOOL_QingKe_HuangYou';
  font-weight: regular;
  src:url("./../../assets/fonts/ZCOOL_QingKe_HuangYou/ZCOOLQingKeHuangYou-Regular.ttf");
}

.ug-login {
  color: white;
  height: 100%;
  width: 100%;
  position: absolute;
}

.ug-login-u {
  font-size: 50px;
  left: 4%;
  height: 100px;
  display: flex;
  align-items: center;
  position: fixed;
}

.ug-login-name {
  font-family: 'ZCOOL_QingKe_HuangYou';
  font-size: 30px;
  width: 100%;
  left: 50%;
  // margin-top
  text-align: center;
  padding-top: 60px;
  height: 100px;
}


.ug-login-box{
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid white;
    height: 400px;
    width: 340px;
    position: relative;
}

.ug-login-form{
    color: white;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
}

.ug-login-form-input{
  position: relative;
  font-family: 'ZCOOL_QingKe_HuangYou';
  background-color: transparent;
  border: 2px solid white;
  text-decoration: none;
  color: white;
  padding: 0px 20px;
  font-size: 20px;
  border-radius: 15px;
  height: 50px;
  width: 300px;
  box-sizing: border-box;
  margin: 5px auto;
  cursor: none;
  outline: none;
}
