#ug-bar {
  // background-color: orange;
  // margin-top: -500px;
  height: 80px;
  width: 100%;
  background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.699));
  position: fixed;
  z-index: 1;
  // background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  
}

@media only screen and (max-width: 600px) {
  #ug-bar {
    zoom: 50%;
    -moz-transform: scale(0.5);
  }
}
