@import "./../../../scss/variables.scss";

.ug-container {
  width: 80%;
  display: block;
  // background-color: rgba(223, 223, 223, 0.301);
  border: 2px solid white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
  border-radius: 10px;
  min-height: 300px;
}

.ug-container-heading {
  // font-family: YanoneKaffeesatz-Bold;
  font-family: ZCOOL_QingKe_HuangYou;
  font-size: 40px;
  display: inline-block;
  color: white;
  position: relative;
  top: 10px;
  left: 20px;
}


.ug-container-small_description {
  // font-family: YanoneKaffeesatz-Light;
  font-family: ZCOOL_QingKe_HuangYou;
  text-decoration: none;
  
  outline: none;
  font-size: 20px;
  color: white;
  display: block;
  margin: 20px;
  top: 25px;
  left: 50px;
  max-width: 400px;
}

.container,
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  display: flex;
}

.wrapper {
  height: 150px;
  width: 150px;
  background-color: #666;
}

.innerBox {
  width: 80px;
  height: 80px;
  padding: 8px;
  background-color: #222;
  display: none;
}

.container.show .innerBox {
  display: block;
}
