//importing variables
@import "./../../../scss/variables.scss";

.ug-container{
    
    width: 90%; 
    height: 200px;
    margin: 20px;
    display: inline-block;
    // transform: skewX(-20deg);
    background-color: rgb(190, 190, 190);
    // *{
    //     transform: skewX(20deg);
    // }
}

.ug-container-heading{
    font-family: YanoneKaffeesatz-Bold;
    font-size: 40px;
    display: inline-block;
    color: white;
    position: relative;
    top: 10px;
    left: 20px;
}

.ug-container-small_description{
    display: inline-block;
    font-size: 20px;
    position: relative;
    color: white;
    font-family: YanoneKaffeesatz-Light;
    display: block;
    position: relative;
    top: 25px;
    left: 50px;
    max-width: 400px;
}

.container,
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  margin: 60px auto 0;
  display: flex;
}

.wrapper {
  height: 150px;
  width: 150px;
  background-color: #666;
}

.innerBox {
  width: 80px;
  height: 80px;
  padding: 8px;
  background-color: #222;
  display: none;
}

.container.show .innerBox {
  display: block;
}