.ug-foyer-about {
  height: 600px;
  width: 1100px;
  // background-color: #86868625;
  border: 2px solid white;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  .ug-foyer-about-heading {
    height: 100%;
    width: 80%;
    font-size: 100px;
    font-family: 'ZCOOL_QingKe_HuangYou';
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 2;
  }

  .ug-foyer-about-divider {
    background-color:white;
    position: relative;
    width: 1.2px;
    height: 90%;
    
  }
  .ug-foyer-about-description {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    font-family: 'ZCOOL_QingKe_HuangYou';
    font-size: 20px;
    p {
      max-width: 300px;
      line-height: 1.4;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .ug-foyer-about {
    height: fit-content;
    flex-direction: column;
    width: 600px;
    padding:5px;
    .ug-foyer-about-divider{
      height: 1px;
      width: 70%;
      margin: 30px;
    }
    .ug-foyer-about-description{
      margin: 20px;
    }
    .ug-foyer-about-heading {
      margin: 20px;
    }
  }
}


@media screen and (min-height: 1500px) and (max-width: 1000px) { 
  .ug-foyer-about {
    height: fit-content;
    flex-direction: column;
    width: 80vw;
    padding:5px;
    .ug-foyer-about-divider{
      height: 1px;
      width: 70%;
      margin: 20px 0px;
    }
    .ug-foyer-about-description{
      width: 90%;
      p{
        max-width: 100%
      }
      // background-color: blue;
      margin: 10px 20px;
      font-size: 2em;
      
    }
    .ug-foyer-about-heading {
      margin: 20px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .ug-foyer-about {
    height: fit-content;
    flex-direction: column;
    position: relative;
    width: 80vw;
    padding:5px;
    .ug-foyer-about-divider{
      height: 1px;
      width: 50%;
      margin: 10px;
    }
    .ug-foyer-about-description{
      font-size: 20px;
      margin: 10px;
      max-width: 200px;
      width: 100%;
      position: relative;
    }
    .ug-foyer-about-heading {
      font-size: 70px;
      margin: 10px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .ug-foyer-about {
    height: fit-content;
    flex-direction: column;
    
    width: 500px;
    padding:5px;
    .ug-foyer-about-divider{
      height: 1px;
      width: 50%;
      margin: 30px;
    }
    .ug-foyer-about-description{
      margin: 20px;
    }
    .ug-foyer-about-heading {
      margin: 20px;
    }
  }
}
