.ug-content {
  // background: radial-gradient(circle, rgba(177, 177, 177, 0.144) 40%, rgba(0,0,0,1) 100%);
  height: 100%;
  position: absolute;
  width: 100%;
}

.ug-background_shader {
  filter: blur(250px);
  height: 70%;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ug-container-box {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.ug-container-recents_heading{
  color: white;
  // background-color: antiquewhite;
  width: 80%;
  font-size: 30px;
  padding-left: 15vw;
}

.ug-loading {
  font-family: AlteSchwabacher;
  font-size: 60px;
  color: white;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

