@font-face{
  font-family: 'ZCOOL_QingKe_HuangYou';
  font-weight: regular;
  src:url("./../../assets/fonts/ZCOOL_QingKe_HuangYou/ZCOOLQingKeHuangYou-Regular.ttf");
}

.ug-btn {
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  right: 4%;
  font-family: ZCOOL_QingKe_HuangYou;
  font-size: 20px;

  .ug-btn-login {
    height: 50px;
    width: 50px;
    
    // border: 1px solid white;
    color: white;
    // cursor: none;
    
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    ::before{
      border-top: 70px solid silver;
      border-right: 70px solid transparent;
    }
    ::after{
      border-top: 70px solid silver;
      border-right: 70px solid transparent;
    }
  }
  
  .ug-btn-search {
    font-family: 'ZCOOL_QingKe_HuangYou';
    height: 50px;
    width: 50px;
    // background-color: #f83e3e;
    border-radius: 15px 0px 0px 15px;
    margin-left: 10px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    color: white;
    .ug-btn-search-input{
      position: relative;
      width: fit-content;
      min-width: 100%;
      height: 50%;
      border: none;
      outline: none;
      background-color: transparent;
      color: white;
      font-size: 20px;
      font-family: 'ZCOOL_QingKe_HuangYou';
      
      ::placeholder{
        // font-family: 'ZCOOL_QingKe_HuangYou';
        font-size: 2em;
      }
    }
  }

  .ug-btn-search_icon{
    // border-radius: 4px;
    // border: 1px solid  white;
    cursor: pointer;
    border-left: 1px solid rgba(255, 255, 255, 0.384);
    height: 50px;
    width: 20px;
    // background-color: #323232;
    margin: 0px;
    margin-left: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;

  }

  .ug-nav-link {
    text-decoration: none;
    display: flex;
  }
}