.ug-btn {
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  right: 4%;

  .ug-btn-login {
    height: 50px;
    width: 50px;
    background-color: #323232;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
  }
  .ug-btn-search {
    height: 50px;
    width: 50px;
    background-color: #323232;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
  }

  .ug-nav-link {
    text-decoration: none;
    display: flex;
  }
}